*{
	padding: 0;
	margin: 0;
}

.backimg{
	width: 100%;
	height: 100vh;
	background-image: url('pexels-jack-redgate-3014012.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
.backimg2{
	width: 100%;
	height: 100vh;
	background-image: url('pexels-kelly-lacy-2876511.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
.backimg3{
	width: 100%;
	height: 100vh;
	background-image: url('pexels-tom-fisk-1700746.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
 p{
 	letter-spacing: 2px;
 	text-indent: 50px;
 	direction: rtl;
 }
 h2{
 	text-align: center;
 	color: red;


 }